.input-label {
  font-size: medium;
}

.error-message {
  color: red;
  font-size: x-small;
}

.f { display: flex; }
.c { flex-direction: column; }
.r { flex-direction: row; }
.mt-8 { margin-top: 8px }