.tank {
  margin-top: 16px;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 200px;
}

.header {
  color: #c0d793;
  display: flex;
  flex-direction: row;
}

.name-wrapper {
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
  justify-content: center;
}

.name {
  font-size: x-large;
  font-weight: 700;
  padding: 8px;
}

.alarm-status-wrapper {
  display: flex;
  flex-grow: 0;
  align-items: center;
  font-size: 16px;
  padding-top: 4px;
}
