.app {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

a {
  color: #61dafb;
  text-decoration: none;
}

.tank-row {
  display: flex;
  flex-direction: row; 
}

.tank-row-after {
  min-width: 4px;
  display: flex;
}

.wall-container {
  display: flex;
  flex-direction: row;
}

.wall {
  margin-left: 4px;
  margin-right: 4px;
  min-height: 210px;
  min-width: 24px;
  background-color: gray;
}

.spacer-tank-wrapper {
  display: flex;
  flex-direction: row;
}

.spacer-tank {
  min-width: 208px;
  min-height: 210px;
  display: flex;
}